---
const currentYear = new Date().getFullYear();

const contactInfo = [
  {
    icon: "icon-picons-telephone-call",
    label: "Phone",
    value: "+53 54361261",
  },
  {
    icon: "icon-picons-envelope",
    label: "E-mail",
    value: "waldocu02@outlook.com",
  },
  {
    icon: "icon-picons-pin-2",
    label: "Location",
    value: "La Havana, Cuba",
  },
  {
    icon: "icon-picons-clock-2",
    label: "Timing",
    value: "MN-FR 9:00 - 18:00",
  },
];

const socialLinks = [
  { name: "Twitter", icon: "icon-twitter", url: "https://x.com/waldiii_?s=08 ", class: "twitter-alt" },
  { name: "Facebook", icon: "icon-facebook", url: "https://www.facebook.com/waldo.fernandez.773/", class: "facebook-alt" },
  { name: "LinkedIn", icon: "icon-linkedin", url: "www.linkedin.com/in/waldo-fernández-fariñas-3bbb1836a", class: "linkedin-alt" },
  { name: "GitHub", icon: "icon-github", url: "https://github.com/waldiiiFd", class: "github-alt" },
];
---

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      {
        contactInfo.map((info) => (
          <div class="col-md-3">
            <div class="services-box-3">
              <i class={info.icon} />
              <div class="content">
                <p>{info.label}</p>
                <h3>{info.value}</h3>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</footer>

<!-- Copyright Bar -->
<div class="bg-white">
  <div class="container t-pad20 b-pad10">
    <div class="col-md-6 t-pad10">
      <p class="bold">© {currentYear} Made by Waldo Fernandez.</p>
    </div>
    <div class="col-md-6 text-right">
      <div class="social-icons">
        <ul>
          {
            socialLinks.map((social) => (
              <li>
                <a
                  href={social.url}
                  class={social.class}
                  title={social.name}
                  data-rel="tooltip"
                  data-placement="top"
                >
                  <i class={social.icon} />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
